{% extends 'FrontLayout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for data in posts %}
            <div class="col s12 m8 l4 z-depth-6 ">
                <div class="card">
                    <div class="card-content">
                        <h4 class="flow-text indigo-text text-indigo lighten-2">{{ data.title }}</h4>

                    </div>
                    <div class="card-image">
                        <img src="/img/posts/{{data.image}}.jpg" width="60%"/>
                    </div>
                    <div class="card-content">
                        <h5 class="">le {{ data.date|date("d/m/Y") }} par {{ data.writer }}</h5>
                        <span class="card-title activator indigo-text text-lighten-4"><i class="material-icons right">more_vert</i></span>
                        <p><a href="/post/detail/{{ data.id }}">Voir l'article complet</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i
                                    class="material-icons right">close</i></span>
                        <p>{{ data.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block contact %}
    <div class="container">
        <h2 class="grey-text text-indigo lighten-2 center">Pour me contacter</h2>
        <form action="/contact" class="offset-s2 col s8 center-align">
            <div class="row">
                <div class="input-field col s6">
                    <input id="firstname" type="text" class="validate">
                    <label for="firstname">Votre Prénom</label>
                </div>
                <div class="input-field col s6">
                    <input id="lastname" type="text" class="validate">
                    <label for="lastname">Votre Nom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" type="text" class="materialize-textarea"></textarea>
                    <label for="message">Votre message</label>
                </div>
                <button class="btn waves-effect waves-light indigo lighten-2" type="submit" name="action">Envoyer
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
